<!-- FOOTER -->
  <footer class="d-flex flex-column justify-content-center align-items-center border-top">
    <div style="padding-top: 40px;">
      <span class="text-body-secondary" >Copyright ©2024 TPU JAKARTA. All rights reserved.</span>
    </div>
    <div style="padding-top: 30px;">
      <h3><a href="https://www.instagram.com/tamanhutandki?igsh=cjZkYmZ4NTFkN3pq" target="_blank"><i class="bi bi-instagram" style="color: #595C5F;"></i></h3></a>
    </div>
  </footer>
<!-- END FOOTER -->