<!-- Start Navbar -->
    <nav class="shadow p-3 mb-5 bg-body rounded fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-2 logo">
                  <a class="navbar-brand" href="/">
                    <img src="/images/Logo-tpujakarta.png" alt="Logo" width="120" class="d-inline-block align-text-top" />
                  </a>
                </div>
                <div class="col-10">
                  <p class="text-tpuheader">TEMPAT PEMAKAMAN UMUM DKI JAKARTA</p>
                  <p class="text-tpusubhead"> - Provinsi DKI JAKARTA - </p>
                </div>
            </div>
        </div>
    </nav>
<!-- End Navbar -->